/*
    Đây là file css dùng chung cho các trang.
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #c7a17a;
    --color-title: #30271c;
    --color-text: #666666;
    --font-title: 'Oswald', sans-serif;
    --font-italic: 'Merriweather', serif;
    --font-text: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-text);
    color: var(--color-text);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-title);
    z-index: 10;
    transition: all .5s;
}

.header.sticky {
    padding: 0.5rem 2rem;
    background-color: #FDFDFD;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.09);
}

.brand {
    flex: 1;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.header.sticky .brand {
    color: var(--color-title);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list:first-child {
    padding-right: 2.5rem;
    border-right: 2px solid rgba(255, 255, 255, 0.8);
}

.header.sticky .nav__list:first-child {
    border-color: var(--color-text);
    opacity: 0.8;
}

.nav__item {
    margin-left: 2.5rem;
    transition: all .2s ease;
    opacity: 0.8;
}

.nav__item:hover {
    opacity: 1;
}

.header.sticky .nav__item {
    opacity: 1;
}

.nav__link,
.nav__btn {
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
    transition: all .2s ease;
}

.header.sticky .nav__link,
.header.sticky .nav__btn {
    text-shadow: none;
    color: var(--color-title);
}

.header.sticky .nav__item:hover .nav__link,
.header.sticky .nav__item:hover .nav__btn {
    color: var(--color-primary);
}